*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100dvh;
  min-height: 100vh;
  text-align: center;
  background-color: #112;
}

.App header {
  color: white;
  font-size: clamp(1.5rem, 1.5rem + 3vw, 2.5rem);
  transition: 0.3s;
}
